@import '../../App.scss';

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;

    &-container {
        max-width: 1366px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &-logo {
        font-family: $font-family;
        font-style: normal;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
    }
}

@media(max-width: 720px) {

    .navbar {
        min-height: 45px;
        background-color: #fff;

        &-container {
            height: 45px;
            padding: 0 12px;
            justify-content: flex-end;
        }
    
        &-logo {
            font-size: 11px;
            line-height: 13px;
            color: #7D8FA4;
        }
    }
}

@media(min-width: 721px) {

    .navbar {
        min-height: 90px;
        background-color: $navbar_bg;

        &-container {
            padding: 0 150px;
            height: 90px;
        }

        &-logo {
            max-width: 150px;
            font-size: 24px;
            line-height: 29px;
        }
    }
}
