.create-ride-success {
    h1 {
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #3C4856;
        margin-bottom: 35px;
    }

    &__image-container {
        margin-bottom: 70px;
    }
}
